#jobdescription {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 20px 20px;
  }
  
  #jobdescription td, #jobdescription th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #jobdescription tr:nth-child(even){background-color: #f2f2f2;}
  
  #jobdescription tr:hover {background-color: #ddd;}
  
  #jobdescription th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #05aecc;
    color: white;
  }
  button {   
    font-weight: bold;
    text-align: center;
    background-color: #05aecc;   
    width: 15%;  
     color:darkblue;   
     padding: 15px;   
     margin: 5px 5px;   
     border: none;
     border-radius: 5px;   
     cursor: pointer;

  }

  /* input[type=submit]:hover {
    background-color:red;
  } */

  button:hover {   
    opacity: 0.7;   
} 


