<marquee scrollamount="12" direction="right" id="marquee" class="blink">
  Welcome to HR Portal
  </marquee>
<!-- <marquee><h1>HR Portal</h1></marquee> -->
<header class="main-header">
    <div>
      <a href="index.html" class="main-header__brand">Home</a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item main-nav__item__cta">
          <a routerLink="Login">Login</a>
          <a routerLink="careers" id="career">Careers</a>
          <a routerLink="/Login" id="career">Log out</a>
        </li>
      </ul>
    </nav>
  </header>

